common/ArcGeoSim/src/ArcGeoSim/Mesh/Utils/IXMTools/ixm_v3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="dimension-kind">
        <xs:restriction base="xs:string">
            <xs:enumeration value="3Dxyz"/>
            <xs:enumeration value="2Dxz"/>
            <xs:enumeration value="2Dyz"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="item-type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Line2"/>
            <xs:enumeration value="Triangle3"/>
            <xs:enumeration value="Quad4"/>
            <xs:enumeration value="Pentagon5"/>
            <xs:enumeration value="Hexagon6"/>
            <xs:enumeration value="Tetra4"/>
            <xs:enumeration value="Pyramid5"/>
            <xs:enumeration value="Pentaedron6"/>
            <xs:enumeration value="Hexaedron8"/>
            <xs:enumeration value="Heptaedron10"/>
            <xs:enumeration value="Octaedron12"/>
            <xs:enumeration value="HemiHexa7"/>
            <xs:enumeration value="HemiHexa6"/>
            <xs:enumeration value="HemiHexa5"/>
            <xs:enumeration value="AntiWedgeLeft6"/>
            <xs:enumeration value="AntiWedgeRight6"/>
            <xs:enumeration value="DiTetra5"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="item-kind">
        <xs:restriction base="xs:string">
            <xs:enumeration value="face"/>
            <xs:enumeration value="cell"/>
            <xs:enumeration value="node"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType final="restriction" name="grid-type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="structured-grid"/>
            <xs:enumeration value="structured-graph"/>
            <xs:enumeration value="structured-dualgrid"/>
            <xs:enumeration value="unstructured-grid"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="data-type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Integer"/>
            <xs:enumeration value="Real"/>
            <xs:enumeration value="Real3"/>
            <xs:enumeration value="Bool"/>
            <xs:enumeration value="Int64"/>
            <xs:enumeration value="Int32"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="compact-real3">
        <xs:restriction>
            <xs:simpleType>
                <xs:list itemType="xs:double"> </xs:list>
            </xs:simpleType>
            <xs:minLength value="3"/>
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="filename-type">
      <xs:restriction base="xs:string">
        <xs:whiteSpace value="collapse"/>
      </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="listOfInt">
      <xs:list itemType="xs:integer"/>
    </xs:simpleType>
    
    <xs:simpleType name="collapsed-space-listOfInt">
      <xs:restriction base="listOfInt">
        <xs:whiteSpace value="collapse"/>
      </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="real3">
        <xs:sequence>
            <xs:element name="x" type="xs:double"> </xs:element>
            <xs:element name="y" type="xs:double"> </xs:element>
            <xs:element name="z" type="xs:double"> </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="new-node">
        <xs:sequence>
            <xs:choice>
                <xs:element name="clone" type="xs:integer"> </xs:element>
                <xs:element name="coord" type="real3"> </xs:element>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
    </xs:complexType>
    
    <xs:complexType name="node-position">
        <xs:choice>
            <xs:element name="coord" type="real3"> </xs:element>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="initial-mesh-type">
      <xs:choice>
        <xs:element name="extern-file" type="filename-type" />
        <xs:element name="topology">
          <xs:complexType>
            <xs:sequence maxOccurs="unbounded" minOccurs="0">
             <xs:element name="group" maxOccurs="unbounded" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="name" type="xs:string" use="required"/>
                <xs:attribute type="item-kind" name="kind" use="required"/>
                <xs:attribute name="mode" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="reset"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
             </xs:element>
            </xs:sequence>
            <xs:attribute name="date" type="xs:date"/>
            <xs:attribute name="time" type="xs:double"/>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="property-data">
        <xs:choice>
            <xs:element name="real3-data">
                <xs:simpleType>
                    <xs:list itemType="xs:double"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="real-data">
                <xs:simpleType>
                    <xs:list itemType="xs:double"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="int32-data">
                <xs:simpleType>
                    <xs:list itemType="xs:int"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="int64-data">
                <xs:simpleType>
                    <xs:list itemType="xs:integer"/>
                </xs:simpleType>
            </xs:element>
             <xs:element name="integer-data">
                <xs:simpleType>
                    <xs:list itemType="xs:integer"/>
                </xs:simpleType>
            </xs:element>
            <xs:element name="bool-data">
              <xs:simpleType>
                <xs:list itemType="xs:boolean"/>
              </xs:simpleType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:simpleType name="property-support">
      <xs:list itemType="xs:integer"/>
    </xs:simpleType>
    
    <xs:complexType name="property-node">
        <xs:sequence>
            <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="property">
                <xs:complexType>
                    <xs:sequence maxOccurs="1" minOccurs="0">
                        <xs:choice>
                          <xs:element name="support" type="property-support"></xs:element>
                          <xs:element name="extern-support" type="filename-type"/>
                        </xs:choice>
                        <xs:element maxOccurs="unbounded" name="values" nillable="false">
                            <xs:complexType>
                                <xs:choice>
                                    <xs:element name="data" type="property-data"> </xs:element>
                                    <xs:element name="extern-data" type="filename-type"/>
                                </xs:choice>
                                <xs:attribute name="time" type="xs:double" use="required"/>
                                <xs:attribute name="date" type="xs:date"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string" use="required"/>
                    <xs:attribute name="type" type="data-type" use="required"/>
                    <xs:attribute name="group-name" type="xs:string" use="required"/>
                    <xs:attribute name="kind" type="item-kind" use="required"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
       <xs:complexType name="event-type">
         <xs:sequence>
            <xs:element name="topology" minOccurs="0">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded" minOccurs="0">
                        <xs:element name="delete-cells" maxOccurs="1" minOccurs="0">
                            <xs:complexType>
                                <xs:choice>
                                    <xs:element name="cells-id">
                                        <xs:simpleType>
                                            <xs:list itemType="xs:integer"/>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="cell-id-ascii-file-path" type="filename-type"/>
                                </xs:choice>
                                <xs:attribute default="1" name="region-number" type="xs:int"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="change-cells" maxOccurs="1" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:choice>
                                        <xs:element name="cells-type">
                                            <xs:simpleType>
                                                <xs:list itemType="item-type"/>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="cells-type-ascii-file-path" type="filename-type" />
                                    </xs:choice>
                                    <xs:choice>
                                        <xs:element name="cells-id">
                                            <xs:simpleType>
                                                <xs:list itemType="xs:integer"/>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="cell-id-ascii-file-path" type="filename-type" />
                                    </xs:choice>
                                    <xs:choice>
                                        <xs:element form="qualified" name="nodes-id">
                                            <xs:simpleType>
                                                <xs:list itemType="xs:integer"/>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="node-id-ascii-file-path" type="filename-type" />
                                    </xs:choice>
                                </xs:sequence>
                                <xs:attribute default="1" name="region-number" type="xs:int"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="create-cells" maxOccurs="1" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:choice>
                                        <xs:element name="cells-type">
                                            <xs:simpleType>
                                                <xs:list itemType="item-type"/>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="cells-type-ascii-file-path" type="filename-type" />
                                    </xs:choice>
                                    <xs:choice>
                                        <xs:element name="cells-id">
                                            <xs:simpleType>
                                                <xs:list itemType="xs:integer"/>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="cell-id-ascii-file-path" type="filename-type" />
                                    </xs:choice>
                                    <xs:choice>
                                        <xs:element form="qualified" name="nodes-id">
                                            <xs:simpleType>
                                                <xs:list itemType="xs:integer"/>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="node-id-ascii-file-path" type="filename-type" />
                                    </xs:choice>
                                </xs:sequence>
                                <xs:attribute default="1" name="region-number" type="xs:int"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="update-nodes" maxOccurs="1" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:choice maxOccurs="1" minOccurs="0">
                                        <xs:element form="qualified" name="nodes-id-clone">
                                            <xs:simpleType>
                                                <xs:list itemType="xs:integer"/>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="node-id-clone-ascii-file-path" type="filename-type" />
                                    </xs:choice>
                                    <xs:element name="clone-list" maxOccurs="1" minOccurs="0">
                                        <xs:complexType>
                                            <xs:choice>
                                              <xs:element name="id">
                                              <xs:simpleType>
                                              <xs:list itemType="xs:integer"/>
                                              </xs:simpleType>
                                              </xs:element>
                                              <xs:element name="id-ascii-file-path" type="filename-type" />
                                            </xs:choice>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:choice maxOccurs="1" minOccurs="0">
                                        <xs:element form="qualified" name="nodes-id-coords">
                                            <xs:simpleType>
                                                <xs:list itemType="xs:integer"/>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="node-id-coords-ascii-file-path" type="filename-type" />
                                    </xs:choice>
                                    <xs:element name="coords" maxOccurs="1" minOccurs="0" >
                                        <xs:complexType>
                                            <xs:choice>
                                              <xs:element name="xyz">
                                              <xs:simpleType>
                                              <xs:list itemType="xs:double"/>
                                              </xs:simpleType>
                                              </xs:element>
                                              <xs:element name="xyz-ascii-file-path" type="filename-type" />
                                            </xs:choice>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute default="1" name="region-number" type="xs:int"/>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="faces" maxOccurs="1" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:choice>
                                        <xs:element name="nodes-number">
                                            <xs:simpleType>
                                                <xs:list itemType="xs:integer"/>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="nodes-number-ascii-file-path" type="filename-type" />
                                    </xs:choice>
                                    <xs:choice>
                                        <xs:element name="faces-id">
                                            <xs:simpleType>
                                                <xs:list itemType="xs:integer"/>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="face-id-ascii-file-path" type="filename-type" />
                                    </xs:choice>
                                    <xs:choice>
                                        <xs:element form="qualified" name="nodes-id">
                                            <xs:simpleType>
                                                <xs:list itemType="xs:integer"/>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="node-id-ascii-file-path" type="filename-type" />
                                    </xs:choice>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="group" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                                <xs:choice minOccurs="0">
                                    <xs:element name="group-id" type="collapsed-space-listOfInt"/>
                                    <xs:element name="group-id-ascii-file-path" type="filename-type"/>
                                </xs:choice>
                                <xs:attribute name="name" type="xs:string" use="required"/>
                                <xs:attribute type="item-kind" name="kind" use="required"/>
                                <xs:attribute name="mode" use="required">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="add"/>
                                            <xs:enumeration value="delete"/>
                                            <xs:enumeration value="reset"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="date" type="xs:date"/>
                    <xs:attribute name="time" type="xs:double"/>
                </xs:complexType>
            </xs:element>
            
            
            <xs:element minOccurs="0" name="geometry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="1" minOccurs="0" name="move-node-to">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:choice>
                                        <xs:element form="qualified" name="nodes-id">
                                            <xs:simpleType>
                                                <xs:list itemType="xs:integer"/>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="node-id-ascii-file-path" type="filename-type" />
                                    </xs:choice>
                                    <xs:element name="coords">
                                        <xs:complexType>
                                            <xs:choice>
                                              <xs:element name="xyz">
                                              <xs:simpleType>
                                              <xs:list itemType="xs:double"/>
                                              </xs:simpleType>
                                              </xs:element>
                                              <xs:element name="xyz-ascii-file-path" type="filename-type" />
                                            </xs:choice>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                                <xs:attribute default="1" name="region-number" type="xs:int"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="date" type="xs:date"/>
                    <xs:attribute name="time" type="xs:double"/>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="properties" type="property-node"> </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="debug-event-type">
        <xs:sequence>
            <xs:element minOccurs="0" name="topology">
                <xs:complexType>
                    <xs:sequence maxOccurs="unbounded" minOccurs="0">
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="delete-cells">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="xs:integer"> 
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element maxOccurs="unbounded" minOccurs="0" name="change-cells">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="cell">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element maxOccurs="unbounded" name="node-id" type="xs:integer"> </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="type" type="item-type" use="required"/>
                                            <xs:attribute name="id" type="xs:integer" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element maxOccurs="unbounded" minOccurs="0" name="create-cells">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="cell">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element maxOccurs="unbounded" name="node-id" type="xs:integer"> </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="type" type="item-type" use="required"/>
                                            <xs:attribute name="id" type="xs:integer" use="required"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element maxOccurs="unbounded" minOccurs="0" name="update-nodes">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" name="node" type="new-node">
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>

                        <xs:element maxOccurs="unbounded" minOccurs="0" name="faces">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="face">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element maxOccurs="unbounded" name="node-id" type="xs:integer"> </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="aid" type="xs:integer"/>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="group">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="xs:integer"> </xs:element>
                                </xs:sequence>
                                <xs:attribute name="name" type="xs:string" use="required"/>
                                <xs:attribute name="kind" type="item-kind" use="required"/>
                                <xs:attribute name="mode" use="required">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="add"/>
                                            <xs:enumeration value="delete"/>
                                            <xs:enumeration value="reset"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="geometry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="move-node-to">
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="node-position">
                                        <xs:attribute name="id" type="xs:integer" use="required"/>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="properties">
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="property-node"/>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
    <xs:element name="extern-debug" type="debug-event-type"/>

    <xs:element name="extern" type="event-type"/>
    
    <xs:element name="external-property-data" type="property-data"/>
    
    <xs:element name="external-property-support" type="property-support"/>
    
    <xs:element name="mesh" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="grid">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="initial-mesh"
                          type="initial-mesh-type" maxOccurs="1"
                          minOccurs="0" />
                        <xs:element maxOccurs="unbounded" name="event"
                          minOccurs="0">
                          <xs:complexType>
                            <xs:choice>
                              <xs:element name="extern-file"
                                type="filename-type" />
                              <xs:element name="intern"
                                type="event-type">
                              </xs:element>
                              <xs:element name="intern-debug"
                                type="debug-event-type">
                              </xs:element>
                            </xs:choice>
                            <xs:attribute name="name" type="xs:string" />
                            <xs:attribute name="begin-time"
                              type="xs:double" use="required" />
                            <xs:attribute name="end-time"
                              type="xs:double" use="required" />
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                      <xs:attribute name="type" type="grid-type" />
                      <xs:attribute name="dimension" type="dimension-kind" default="3Dxyz"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" default="V3"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
